@media (prefers-reduced-motion:no-preference) {
	:root {
		scroll-behavior: smooth
	}
}
@media screen and (min-width:1366px) {
	.activ-feed{object-fit: cover;
			object-position: 50% 2%;
			width: 170px !important;
			height: 150px;}
}
@media screen and (max-width:1366px) {
 :root {
	 --bs-body-font-size: 0.7525rem !important;
 }
*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
	body {
	font-size: var(--bs-body-font-size) !important;
   }
   .calendar-prev {
    border-radius: 35%;
    height: 20px !important;
    padding-top: 3px;
    width: 40px !important;
    background: #F8F8F8;
    margin-left: -25px;
   }
  .scroller-left {
    float: left;
    left: 337px;
    z-index: 0;
	}
	.flickity-prev-next-button {
    top: 45% !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    transform: translateY(-50%);
	}
	.carousel-caption {
    position: absolute;
    bottom: 2.25rem !important;
    left: 5%;
    color: #fff;
	}
	.flickity-viewport{
		height: 112px !important;
	}
	
	.dd_max {
    /* width: max-content; */
    width: 171px;
	}
	.dd_nav {
    padding: 9px 1px !important;
	}
	.font-size-18{font-size:15px !important; }
	.font-size-30{font-size:25px !important; }
	.font-size-16{font-size:13px !important;}
		.h3,
		h3 {
				font-size: 1.42188rem
			}

		.h4,
		h4 {
			font-size: 1.21875rem
		}

		.h5,
		h5 {
			font-size: 1.01563rem
		}
		hr {
		   margin: 0.66rem 0 !important;
		   }
		.h6,
		h6 {
			font-size: .8125rem !important
		}
		
		.activ-feed{object-fit: cover;
			object-position: 50% 2%;
			width: 225px !important;
			height: 150px;}
		
		.carousel-cell{width: 22% !important;}
		.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
			width: 110% !important;
		}
		
	}

@media (min-width:1200px) {
			.h5,
			h5 {
				font-size: 0.9rem !important
			}
		}

		.h6,
		h6 {
			font-size: .8125rem !important
		}

		p {
			margin-top: 0;
			margin-bottom: 1rem
		}
	.qaca {
    font-size: 12px;
	}
	.ms-30 {
    margin-left: 20rem!important;
	}
	.car-login{width:350px;}
	hr {
	   margin: 0.66rem 0 !important;
	   }
	.activ-feed{object-fit: cover;
		object-position: 50% 2%;
		width: 170px !important;
		height: 150px;}
	.carousel-cell{width: 22% !important;}	
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media (min-width:1900px) {
	:root {
	 --bs-body-font-size: 0.9525rem !important;
	}
	body {
		font-size: var(--bs-body-font-size) !important;
   }
   hr {
   margin: 0.66rem 0 !important;
   }
   .h6,
		h6 {
			font-size: .8125rem !important
		}
	.scroller-left {
		float: left;
		left: 585px !important;
		z-index: 999;
	}
	.activ-feed{object-fit: cover;
			object-position: 50% 2%;
			width: 225px !important;
			height: 150px;}
	
	.carousel-cell{width:17% !important;}
}